# Exclude everything except what is necessary for the build
**

# Include necessary files and directories
!composer.json
!behat/
!cy/
!phpunit/
!phpcs.govcms.xml
!phpcs.xml
!.docker

# Exclude specific unnecessary files within included directories
tests/cy/cypress/screenshots
tests/cy/cypress/videos
.DS_Store