# Exclude everything except what is necessary for the build
.DS_Store
.ahoy.yml
.circleci
.git
.gitignore
.github
.idea
.lando.yml
*.md
app
docs
data
docker-compose.services.yml
docker-compose.yml
Tiltfile
LICENSE
vendor

# Include necessary files and directories
!.docker/
!.docker/**
!composer.json