# Local development
app/

# Composer vendor
vendor/

# Node
node_modules/

# OS X
.DS_Store
.AppleDouble
.LSOverride

# IDEA
.idea

# Lock files
composer.lock
cy/yarn.lock

# Cypress env file
cy/cypress.env.json

# Exclude everything in the data directory
/data/*
!/data/composer/.gitkeep
!/data/drupal_sites/.gitkeep
!/data/mariadb_data/.gitkeep
!/data/registry/config.yml